body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: darkslategray;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
}

.footer-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0 0.3em;
    text-decoration: none;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

a {
  color: #d87171;
}
